.jumbotron{
	padding-top: 20px;
	padding-bottom: 20px;
}

.crystal{
	width: 175px;
	height: 200px;
}

.crystal:hover{
	cursor: pointer;
}

.crystal:active{
	width: 170px;
	height: 195px;
}

.card{
	margin: auto;
}